<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UARTName" value="uart" />
		<add key="JTAGName" value="jtag" />
		<add key="PMICName" value="pmic" />
		<add key="PowerSupplyVisa" value="visa" />
		
		
		
		
		
		
		
		
	</appSettings>
</configuration>